<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>사진 필요~~~~</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진사용</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareB.ttf</string>
		<string>NanumSquareEB.ttf</string>
		<string>NanumSquareEB.ttf</string>
		<string>NanumSquareL.ttf</string>
		<string>NanumSquareR.ttf</string>
	</array>
</dict>
</plist>
